* {
    margin: 0;
    padding: 0;
    }
body{
    width: 1366px;
    height: 100%;
    background-color: #f9f9f9;
}
.container{
    width: 1060px;
}
.top-menu{
    width: 100%;
}
.links{
    background: linear-gradient(#5e5e5e, #464545);
    height: 40px;
    display: inline-block;
}
a img{
    display: block;
    margin-top: 34px;
}
