body{
    height: auto;
    background-color: #f9f9f9;
    box-sizing: border-box;
}
.container{
    background-color: #fff;
    width: 1060px;
    margin: 0 auto;
    padding: 40px 34px 0 34px;
}
header{
}

.top-menu{
    background: linear-gradient(#666666, #464545);
}

.top-menu li{
    height: 40px;
    display: inline-block;
}

.top-menu a{
    text-decoration: none;
    color: white;
    line-height: 40px;
    padding: 0 24px;
    display: block;

}

.top-menu a:hover{
    background: linear-gradient(#494949, #303030);

}
/*section{*/
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
/*}*/
/*.image{*/
    /*border: 2px solid lightgrey;*/
/*}*/